/* &display=swap&subset=cyrillic-ext */

@import "null.css";


@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");

/* ======================================================= */

body {
	font-family: "Roboto", sans-serif;
}

.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;
}



[class*="__container"]{
	max-width: 1020px;
	margin: 0 auto;
	}

.girl__container {
	position: relative;
	
}
.girl__items {
}
.items-girl {
	position: relative;
	width: 500px;
	height: 750px;
}

/* ============================== */


[class*=__picture]{
	display: inline-block;
	position: absolute;
	width: 250px;
	height: 250px;
	transition: all 0.8s ease 0s;
	transform-style: preserve-3d;
}


[class*=back]{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	transform: rotateY(180deg);
}

[class*=front]{
	display: inline-block;
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
	transform: rotateY(0deg);
	backface-visibility: hidden;
}

.item-girl:hover > div
{
	transform: rotateY(-180deg);
	visibility: visible;
}
/* +++++++++++++++++ */




.item-girl__picture-body-1{
	top: 0;
	left:0;
	transition: all 4s ease 2s;
	visibility: hidden;
}

.item-girl__picture-body-2{
	top: 0;
	left:248px;
	transition: all 3.5s ease 2s;
	visibility: hidden;
}

.item-girl__picture-body-3{
	top: 248px;
	left:0;
	transition: all 2.3s ease 2s;
	visibility: hidden;
}

.item-girl__picture-body-4{
	top: 248px;
	left:248px;
	transition: all 2s ease 2s;
	visibility: hidden;
}

.item-girl__picture-body-5{
	top: 498px;
	left:0;
	transition: all 1.5s ease 2s;
	visibility: hidden;
}

.item-girl__picture-body-6{
	top: 498px;
	left:248px;
	transition: all 1s ease 2s;
}

/* ================================= */

.girl__translate{
	display: inline-block;
	width: 370px;
	height: 750px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	transition: all 0.5s ease 0s;
}

.translate__background{
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: rgb(98, 201, 72);
	position: absolute;
	top: 0;
	left: 0;
	transition: all 1s ease 0s;
}

.girl__translate:hover .translate__background{
	left:-200%;
	
	border-radius: 50%;
	visibility: hidden;
	opacity: 0;
	transform: rotate(360deg);
}


.item-girl__transform{
	display: inline-block;
	position: absolute;
	z-index: 1;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgb(228, 137, 137);
	transition: all 5s ease 0s;
	transform: scale(1)
}

.item-girl:hover .item-girl__transform{
	opacity: 0;
	transform: scale(0);
	border-radius: 50%;
}
